.buttons-wrapper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
.buttons-wrapper button{
    margin: 20px;
    width: 250px;
 }
 